/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900italic");
/* line 6, ../_sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../_sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../_sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../_sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../_sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../_sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../_sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../_sass/base/_box_sizing.scss */
* {
  box-sizing: border-box;
}
/* line 4, ../_sass/base/_box_sizing.scss */
*:before, *:after {
  box-sizing: border-box;
}

/* line 3, ../_sass/base/_fonts.scss */
body {
  background: #35364b;
  font-family: "Source Sans Pro", sans-serif;
}

/* line 1, ../_sass/blocks/_intro.scss */
.intro {
  margin: 75px 0 0 0;
  text-align: center;
}
/* line 6, ../_sass/blocks/_intro.scss */
.intro__logo {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 25px;
  width: 100%;
  max-width: 320px;
  height: auto;
}
/* line 16, ../_sass/blocks/_intro.scss */
.intro__title {
  margin: 20px 0 0 0;
  padding: 0 25px;
  color: #777ca2;
  font-size: 72px;
  font-weight: 900;
  font-style: italic;
}
/* line 25, ../_sass/blocks/_intro.scss */
.intro__intro {
  margin: 15px auto 0 auto;
  padding: 0 25px;
  max-width: 650px;
  color: #e5e5e5;
  font-size: 20px;
  line-height: 1.5;
}
/* line 34, ../_sass/blocks/_intro.scss */
.intro__instructions {
  margin: 35px auto 0 auto;
  padding: 10px 0;
  max-width: 450px;
  color: #e5e5e5;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background: #c5415e;
}
@media only screen and (max-width: 399px) {
  /* line 47, ../_sass/blocks/_intro.scss */
  .intro__logo {
    left: 25px;
    max-width: 250px;
  }
  /* line 52, ../_sass/blocks/_intro.scss */
  .intro__title {
    font-size: 60px;
  }
}

/* line 1, ../_sass/blocks/_skeleton.scss */
.skeleton {
  margin: 60px auto 0 auto;
  max-width: 900px;
  display: block;
  padding: 0;
  color: #570404;
  background: #da5b5b;
  text-align: center;
}
/* line 11, ../_sass/blocks/_skeleton.scss */
.skeleton a {
  text-decoration: none;
  color: #fff;
}
/* line 16, ../_sass/blocks/_skeleton.scss */
.skeleton__title {
  display: block;
  padding-top: 20px;
  line-height: 80px;
  font-weight: 600;
  font-size: 60px;
}
/* line 24, ../_sass/blocks/_skeleton.scss */
.skeleton__subtitle {
  display: block;
  line-height: 50px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  color: #eee;
}
/* line 32, ../_sass/blocks/_skeleton.scss */
.skeleton__subtitle a {
  text-decoration: underline;
}

/* line 1, ../_sass/blocks/_checklist.scss */
.checklist {
  margin: 60px auto 0 auto;
  max-width: 900px;
}
/* line 6, ../_sass/blocks/_checklist.scss */
.checklist__item {
  margin: 0 0 10px 0;
  position: relative;
}
/* line 11, ../_sass/blocks/_checklist.scss */
.checklist__input {
  display: none;
  user-select: none;
}
/* line 16, ../_sass/blocks/_checklist.scss */
.checklist__label {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #bd4646 url(../img/cross.png) no-repeat center center;
  background-size: 50%;
  cursor: pointer;
  cursor: hand;
  user-select: none;
}
/* line 29, ../_sass/blocks/_checklist.scss */
.checklist__label:hover {
  background-color: #ac3d3d;
}
/* line 34, ../_sass/blocks/_checklist.scss */
.checklist__input:checked ~ .checklist__label {
  background: #529963 url(../img/checkmark.png) no-repeat center center;
  background-size: 60%;
}
/* line 38, ../_sass/blocks/_checklist.scss */
.checklist__input:checked ~ .checklist__label:hover {
  background-color: #498858;
}
/* line 43, ../_sass/blocks/_checklist.scss */
.checklist__input:checked ~ .checklist__details {
  color: #20592e;
  background: #64b878;
}
/* line 47, ../_sass/blocks/_checklist.scss */
.checklist__input:checked ~ .checklist__details a {
  color: #20592e;
}
/* line 50, ../_sass/blocks/_checklist.scss */
.checklist__input:checked ~ .checklist__details a:hover {
  color: white;
}
/* line 56, ../_sass/blocks/_checklist.scss */
.checklist__details {
  display: block;
  margin: 0 0 10px 0;
  padding: 30px 25px 15px 250px;
  min-height: 200px;
  color: #570404;
  background: #da5b5b;
}
/* line 64, ../_sass/blocks/_checklist.scss */
.checklist__details:last-child {
  margin: 0;
}
/* line 68, ../_sass/blocks/_checklist.scss */
.checklist__details a {
  color: #570404;
}
/* line 71, ../_sass/blocks/_checklist.scss */
.checklist__details a:hover {
  color: white;
}
/* line 77, ../_sass/blocks/_checklist.scss */
.checklist__title {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
/* line 83, ../_sass/blocks/_checklist.scss */
.checklist__details_list {
  list-style: circle;
  margin: 20px 0 20px 20px;
}
/* line 88, ../_sass/blocks/_checklist.scss */
.checklist__details_item {
  margin: 0 0 8px 0;
  font-size: 18px;
}
@media only screen and (max-width: 399px) {
  /* line 95, ../_sass/blocks/_checklist.scss */
  .checklist__label {
    position: static;
    width: 100%;
    height: 100px;
    background-size: auto 130%;
  }
  /* line 102, ../_sass/blocks/_checklist.scss */
  .checklist__input:checked ~ .checklist__label {
    background-size: auto 130%;
  }
  /* line 106, ../_sass/blocks/_checklist.scss */
  .checklist__details {
    padding: 25px;
  }
  /* line 110, ../_sass/blocks/_checklist.scss */
  .checklist__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 800px) {
  /* line 117, ../_sass/blocks/_checklist.scss */
  .checklist__label {
    width: 100px;
  }
  /* line 121, ../_sass/blocks/_checklist.scss */
  .checklist__details {
    padding-left: 130px;
  }
  /* line 125, ../_sass/blocks/_checklist.scss */
  .checklist__title {
    font-size: 30px;
  }
}

/* line 1, ../_sass/blocks/_share.scss */
.share {
  margin: 75px 0 100px 0;
  text-align: center;
}
/* line 6, ../_sass/blocks/_share.scss */
.share__title {
  margin: 0 0 25px 0;
  color: #c5415e;
  font-weight: 900;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}
/* line 15, ../_sass/blocks/_share.scss */
.share__input {
  padding: 0 25px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  height: 50px;
  color: #e5e5e5;
  font-size: 16px;
  border: none;
  outline: none;
  background: #c5415e;
}

/* line 1, ../_sass/blocks/_further_reading.scss */
.further_reading {
  margin: 75px 0 0 0;
  padding: 40px 0;
  background: #2a2b3c;
}
/* line 7, ../_sass/blocks/_further_reading.scss */
.further_reading__center {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 950px;
}
/* line 13, ../_sass/blocks/_further_reading.scss */
.further_reading__title {
  margin: 0 0 25px 0;
  color: #777ca2;
  font-weight: 900;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}
/* line 26, ../_sass/blocks/_further_reading.scss */
.further_reading__image {
  display: block;
  width: 100%;
  height: auto;
  border: solid 1px white;
}
@media only screen and (max-width: 399px) {
  /* line 34, ../_sass/blocks/_further_reading.scss */
  .further_reading__item {
    margin: 0 0 25px 0;
  }
}
@media only screen and (min-width: 400px) {
  /* line 41, ../_sass/blocks/_further_reading.scss */
  .further_reading__list {
    margin: 0 0 0 -10px;
    overflow: hidden;
  }
  /* line 46, ../_sass/blocks/_further_reading.scss */
  .further_reading__item {
    float: left;
    width: 33.33%;
    padding: 0 0 0 10px;
  }
}
@media only screen and (min-width: 800px) {
  /* line 1, ../_sass/blocks/_further_reading.scss */
  .further_reading {
    padding: 75px 0;
  }
  /* line 57, ../_sass/blocks/_further_reading.scss */
  .further_reading__title {
    font-size: 50px;
    margin: 0 0 50px 0;
  }
  /* line 62, ../_sass/blocks/_further_reading.scss */
  .further_reading__list {
    margin: 0 0 0 -40px;
  }
  /* line 66, ../_sass/blocks/_further_reading.scss */
  .further_reading__item {
    width: 33.33%;
    padding: 0 0 0 40px;
  }
}

/* line 1, ../_sass/blocks/_footer.scss */
.footer {
  margin: 0 0 0 0;
  padding: 50px 0;
  background: #20202d;
}
/* line 7, ../_sass/blocks/_footer.scss */
.footer__credits {
  color: #777ca2;
  font-size: 18px;
  text-align: center;
}
/* line 13, ../_sass/blocks/_footer.scss */
.footer__credits a {
  color: #777ca2;
}
/* line 16, ../_sass/blocks/_footer.scss */
.footer__credits a:hover {
  color: white;
}
