@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900italic");

body {
    background: #35364b;
    font-family: "Source Sans Pro", sans-serif;
}

:-moz-selection {
    background: white;
}

::selection {
    background: white;
}